<h2>Doctors:</h2>

<% doctors.each do |doctor| %>
    <p>Doctor ID: <%= doctor.id %></p>
    <p><%= doctor.first_name || "Doesn't have a first name" %></p>
    <p><%= doctor.last_name || "Doesn't have a last name" %></p>

    <%= link_to "Add Appointment", new_appointment_path(doctor_id: doctor.id) %>
<% end %>